@font-face {
  font-family: 'Pragmatica Bold';
  src: url("../fonts/Pragmatica-Bold.woff") format("woff"), url("../fonts/Pragmatica-Bold.woff2") format("woff2"); }

@font-face {
  font-family: 'Pragmatica Light';
  src: url("../fonts/Pragmatica-Light.woff") format("woff"), url("../fonts/Pragmatica-Light.woff2") format("woff2"); }

@font-face {
  font-family: 'Pragmatica Medium';
  src: url("../fonts/Pragmatica-Medium.woff") format("woff"), url("../fonts/Pragmatica-Medium.woff2") format("woff2"); }

@font-face {
  font-family: 'Pragmatica Book';
  src: url("../fonts/Pragmatica-Book.woff") format("woff"), url("../fonts/Pragmatica-Book.woff2") format("woff2"); }

@font-face {
  font-family: 'Pragmatica Black';
  src: url("../fonts/Pragmatica-Black.woff") format("woff"), url("../fonts/Pragmatica-Black.woff2") format("woff2"); }

.chrome {
  background-image: url(../img/sprite-0011002077731012472.png);
  background-position: 0px 0px;
  width: 64px;
  height: 64px; }

.github-logo {
  background-image: url(../img/sprite-0011002077731012472.png);
  background-position: -68px 0px;
  width: 64px;
  height: 64px; }

.placeholder {
  background-image: url(../img/sprite-0011002077731012472.png);
  background-position: 0px -68px;
  width: 64px;
  height: 64px; }

@-ms-viewport {
  width: device-width; }

.page {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-overflow-style: scrollbar;
  -ms-text-size-adjust: 100%;
  min-width: 320px;
  min-height: 100%; }
  .page__inner {
    background: url("../../img/page-bg-image.png") no-repeat;
    background-size: 64% 675px; }
  .page__content {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 25px; }

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

body {
  background-color: #fff;
  margin: 0;
  min-height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  font-size: 14px;
  line-height: 1.4; }

[tabindex='-1']:focus {
  outline: none !important; }

[role='button'] {
  cursor: pointer; }

input[type='search'] {
  -webkit-appearance: textfield; }

a,
button,
[role='button'],
input,
label,
select,
textarea {
  -ms-touch-action: manipulation;
      touch-action: manipulation; }

a svg,
button svg {
  pointer-events: none; }

img {
  max-width: 100%;
  height: auto; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
  margin-bottom: 16px;
  width: 1230px; }
  .header__logo {
    width: 70px;
    height: 28px;
    margin-right: 110px; }
  .header__number {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 60px;
    height: 60px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 40px;
    background-color: #e3e3e4;
    border-radius: 50%;
    font-family: 'Pragmatica Bold';
    font-size: 24px;
    line-height: 28px; }
  .header__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-right: 30px; }
  .header__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 45px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .header__item:nth-child(3) {
      margin-right: 55px; }
    .header__item:nth-child(4) {
      margin-right: 64px; }
  .header__item-link {
    display: inline-block;
    font-family: 'Pragmatica light';
    text-decoration: none;
    font-size: 14px;
    line-height: 24.5px;
    color: #000000;
    margin-left: 20px; }
  .header__item--search {
    width: 100px;
    margin-right: 0;
    margin-left: 0; }
    .header__item--search input {
      border: none;
      width: 50px; }
  .header__item-link--search {
    line-height: 17px;
    color: #818285; }

.user-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .user-block__mail {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 35px;
    width: 35px;
    height: 28px; }
  .user-block__number {
    position: absolute;
    top: 0;
    right: 2px;
    width: 17px;
    height: 13px;
    background-color: #ee2d24;
    border-radius: 5px;
    text-align: center;
    font-family: 'Pragmatica Bold';
    font-size: 8px;
    line-height: 13px;
    color: #ffffff; }
  .user-block__info {
    display: inline-block;
    width: 140px;
    height: 40px;
    padding-left: 49px;
    padding-top: 10px;
    text-decoration: none;
    color: #231f20;
    background-color: #fdda9d;
    background-image: url(../../img/user-icon.png);
    background-repeat: no-repeat;
    background-position: 5px;
    border-radius: 25px;
    font-family: 'Pragmatica Light'; }

.nav {
  width: 1230px; }
  .nav__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px 0;
    margin: 0;
    list-style: none; }
  .nav__item-link {
    display: inline-block;
    font-family: 'Pragmatica Medium';
    text-decoration: none;
    color: #000000;
    font-size: 12px;
    line-height: 14.5px;
    text-transform: uppercase;
    letter-spacing: 0.7px; }
  .nav__item-link--active {
    position: relative;
    color: #f04239; }
    .nav__item-link--active::before {
      position: absolute;
      content: "";
      left: 0;
      bottom: -25px;
      width: 100%;
      height: 2px;
      background-color: #f04239; }

.slider-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1230px; }

.slider-news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 880px;
  min-height: 436px;
  padding-top: 45px; }
  .slider-news__video {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 315px; }
  .slider-news__video-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100px;
    height: 100px;
    background-image: url("../../img/video-bg.png"); }
  .slider-news__video-icon {
    width: 38px;
    height: 27px;
    background-image: url("../../img/video-icon.png");
    background-repeat: no-repeat; }
  .slider-news__video-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 260px;
    padding: 15px; }
  .slider-news__video-caption {
    font-family: 'Pragmatica Book';
    color: #818285;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px; }
  .slider-news__video-description {
    text-decoration: none;
    font-family: 'Pragmatica Bold';
    color: #231f20;
    font-size: 16px;
    line-height: 19px; }
  .slider-news__description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 28px;
    margin-bottom: 5px;
    width: 485px; }
  .slider-news__description-caption {
    padding: 0;
    margin: 0;
    margin-bottom: 22px;
    font-family: 'Pragmatica Light';
    font-size: 26px;
    line-height: 31px;
    color: #221f1f; }
  .slider-news__description-ph {
    font-family: 'Pragmatica Book';
    font-size: 14px;
    line-height: 22px;
    color: #1f1f1f;
    margin: 0;
    margin-bottom: 25px; }
  .slider-news__description-author {
    font-family: 'Pragmatica Light';
    font-size: 12px;
    line-height: 14px;
    color: #7f8085; }
  .slider-news__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-right: 20px; }
  .slider-news__button {
    width: 16px;
    height: 27px;
    background-color: transparent;
    background-size: contain;
    border: none; }
  .slider-news__button--back {
    background-image: url("../../img/btn-back.png");
    background-repeat: no-repeat; }
  .slider-news__button--forward {
    background-image: url("../../img/btn-forward.png");
    background-repeat: no-repeat;
    margin-left: 55px; }

.slider-developments {
  width: 350px;
  padding-top: 40px; }
  .slider-developments__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .slider-developments__item {
    margin-bottom: 46px;
    padding-left: 74px; }
    .slider-developments__item a {
      text-decoration: none; }
  .slider-developments__item--name {
    padding-top: 15px;
    background-image: url("../../img/slider-icon.png");
    background-repeat: no-repeat;
    background-position: 5px 0;
    min-height: 55px; }
  .slider-developments__item-name {
    display: inline-block;
    font-family: 'Pragmatica Book';
    font-size: 13px;
    line-height: 18px;
    color: #1f1f1f; }
  .slider-developments__item-position {
    display: inline-block;
    font-family: 'Pragmatica Light';
    font-size: 12px;
    line-height: 14px;
    color: #7f8085; }
  .slider-developments__item--vtb {
    position: relative;
    padding-right: 85px;
    margin-bottom: 35px; }
    .slider-developments__item--vtb::before {
      content: "!";
      position: absolute;
      display: block;
      top: -5px;
      left: 12px;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      border: 2px solid #f04239;
      text-align: center;
      color: #f04239;
      font-size: 22px; }
  .slider-developments__item-date {
    display: inline-block;
    font-family: 'Pragmatica Light';
    color: 231f20;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 8px; }
  .slider-developments__item-description {
    display: inline-block;
    font-family: 'Pragmatica Light';
    color: #ee2d24; }
  .slider-developments__item--event {
    padding-right: 45px;
    margin-bottom: 39px;
    background-image: url(../../img/document.png);
    background-repeat: no-repeat;
    background-position: 15px 0; }
  .slider-developments__item-desc {
    display: inline-block;
    font-family: 'Pragmatica Book';
    font-size: 13px;
    line-height: 18px;
    color: #1f1f1f; }
  .slider-developments__button-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    padding-left: 75px; }
  .slider-developments__button-item {
    margin-right: 14px; }
  .slider-developments__button {
    background-color: #e3e3e4;
    border: none;
    width: 13px;
    height: 13px;
    border-radius: 50%; }
  .slider-developments__button--active {
    background-color: transparent;
    border: 1px solid #f8b239; }

.news {
  width: 1230px;
  padding: 0 145px;
  border-bottom: 1px solid #e3e3e4;
  padding-bottom: 60px;
  margin-bottom: 55px; }
  .news__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0;
    margin-bottom: 35px;
    list-style: none; }
  .news__item {
    margin-right: 20px; }
    .news__item:nth-of-type(4) {
      margin-right: 0; }
  .news__item-link {
    position: relative;
    display: block;
    text-decoration: none; }
  .news__item-img {
    display: block;
    max-width: 220px;
    height: 165px;
    margin-bottom: 23px; }
  .news__item-img-desc {
    position: absolute;
    display: block;
    top: 115px;
    left: 10px;
    width: 60px;
    height: 60px;
    background-color: #fcd53b;
    padding-top: 32px;
    padding-left: 8px;
    color: #ffffff;
    font-family: 'Pragmatica Black';
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase; }
    .news__item-img-desc--red {
      background-color: #ee2d24; }
    .news__item-img-desc--yellow {
      background-color: #f57f29; }
  .news__item-desc {
    margin: 0;
    margin-bottom: 10px;
    padding: 0 12px;
    font-family: 'Pragmatica Book';
    color: #201f1f;
    font-size: 13px;
    line-height: 18px; }
    .news__item-desc--text {
      padding-right: 30px; }
  .news__item-date {
    padding: 0 12px;
    font-family: 'Pragmatica Light';
    font-size: 12px;
    line-height: 14px;
    color: #7f8085; }
  .news__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .news__button {
    width: 152px;
    height: 42px;
    padding-left: 48px;
    padding-top: 18px;
    background-color: #fdda9d;
    border-radius: 20px;
    text-decoration: none;
    font-family: 'Pragmatica Bold';
    font-size: 10px;
    line-height: 9px;
    color: #231f20;
    text-transform: uppercase; }
    .news__button--all {
      margin-right: 9px;
      background-image: url("../../img/newspaper-icon.png");
      background-repeat: no-repeat;
      background-position: 10px 12px; }
    .news__button--region {
      margin-left: 9px;
      padding-left: 46px;
      background-image: url("../../img/pin-icon.png");
      background-repeat: no-repeat;
      background-position: 17px 12px; }

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1230px;
  margin-bottom: 100px; }

.footer-logo {
  width: 285px;
  margin-right: 30px; }
  .footer-logo__link {
    display: block;
    margin-bottom: 25px;
    width: 60px; }
  .footer-logo__desc {
    font-family: 'Pragmatica light';
    font-size: 12px;
    line-height: 19px;
    color: #7f8085; }

.hot-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 285px;
  margin-right: 30px; }
  .hot-line__title {
    margin: 0;
    padding: 0;
    margin-bottom: 18px;
    font-family: 'Pragmatica Bold';
    font-size: 14px;
    line-height: 12px;
    color: #ee2d24; }
  .hot-line__list {
    margin: 0;
    padding: 0;
    list-style: none; }
  .hot-line__item {
    margin-bottom: 15px; }
  .hot-line__number {
    display: block;
    font-family: 'Pragmatica Bold';
    font-size: 12px;
    text-decoration: none;
    color: #211f1f; }
  .hot-line__number-desc {
    margin: 0;
    font-family: 'Pragmatica Book';
    font-size: 12px;
    line-height: 14px;
    color: #818285; }
  .hot-line__mail {
    font-family: 'Pragmatica Bold';
    font-size: 12px;
    line-height: 14px;
    text-decoration: none;
    color: #ee2d24;
    margin-bottom: 20px; }
  .hot-line__btn {
    display: inline-block;
    width: 215px;
    height: 40px;
    padding-top: 15px;
    background-color: #fdda9d;
    border-radius: 20px;
    text-decoration: none;
    text-align: center;
    font-family: 'Pragmatica Bold';
    font-size: 10px;
    color: #1f1f1f;
    text-transform: uppercase; }

.quotes {
  width: 285px;
  margin-right: 30px; }
  .quotes__title {
    margin: 0;
    margin-bottom: 19px;
    font-family: 'Pragmatica Bold';
    font-size: 14px;
    line-height: 12px;
    color: #231f20; }
  .quotes__date {
    display: inline-block;
    margin-bottom: 16px;
    font-family: 'Pragmatica Light';
    font-size: 12px;
    line-height: 14px;
    color: #7f7f85; }
  .quotes__block {
    width: 100%; }
  .quotes__table {
    display: block;
    width: 100%;
    border-collapse: collapse;
    padding-top: 14px;
    padding-bottom: 10px; }
    .quotes__table:nth-child(1) {
      border-bottom: 1px solid #d7d7d9;
      border-top: 2px solid #d7d7d9; }
    .quotes__table:nth-child(2) {
      border-bottom: 2px solid #d7d7d9; }
  .quotes tr {
    line-height: 10px;
    padding: 0; }
  .quotes td {
    width: 57.5%;
    padding: 0; }
  .quotes td > span {
    display: inline-block;
    height: 18px; }
  .quotes__table-name {
    font-family: 'Pragmatica Light';
    font-size: 12px;
    line-height: 12px;
    color: #211f1f; }
  .quotes__table-value {
    margin-right: 5px;
    font-family: 'Pragmatica Bold';
    font-size: 12px;
    line-height: 12px;
    color: #211f1f; }
  .quotes__table-value-desc {
    font-family: 'Pragmatica Light';
    font-size: 12px;
    line-height: 12px;
    color: #211f1f; }
  .quotes__table-motion {
    width: 100%;
    font-family: 'Pragmatica Light';
    font-size: 12px;
    line-height: 12px;
    color: #46b900;
    background-image: url("../../img/motion-up.png");
    background-repeat: no-repeat;
    background-position: 55% 2px; }
  .quotes__table-open {
    margin-right: 6px;
    color: #7f8085;
    font-family: 'Pragmatica Light';
    font-size: 12px;
    line-height: 12px; }
  .quotes__table-open-desc {
    font-family: 'Pragmatica Bold';
    font-size: 12px;
    line-height: 12px;
    color: #7f8085; }

.portal {
  width: 285px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .portal__title {
    margin: 0;
    margin-bottom: 15px;
    font-family: 'Pragmatica Bold';
    font-size: 14px;
    line-height: 12px;
    color: #221f1f; }
  .portal__list {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 27px; }
  .portal__link {
    text-decoration: none;
    font-family: 'Pragmatica Light';
    font-size: 14px;
    line-height: 25px;
    color: #221f1f; }
  .portal__error {
    margin: 0;
    padding-right: 30px;
    font-family: 'Pragmatica Ligth';
    font-size: 12px;
    line-height: 19px;
    color: #808185; }
  @media (min-width: 1280px) {
    .news {
      width: 100%; } }

/*# sourceMappingURL=style.css.map */
